<?xml version='1.0' encoding='utf-8'?>
<widget id="eve.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Eve</name>
    <description>
        Eve is a Web and Mobile application for attendants to an event, who need quick information about talks and speakers.
        Created in VI PiWeek
        http://piweek.com
    </description>
    <author email="eveapp42@gmail.com" href="https://github.com/PIWEEK/eve">
        EveApp Team:
        Pablo
        Miguel
        Juan
        Toño
    </author>
    <content src="index.html" />
    <access origin="*" />

    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/device"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.file-transfer" />

    <feature name="Device">
        <param name="ios-package" value="CDVDevice" />
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
    <feature name="File">
        <param name="ios-package" value="CDVFile" />
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>
    <feature name="FileTransfer">
        <param name="ios-package" value="CDVFileTransfer" />
        <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
    </feature>
</widget>
